<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sudoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sudoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sudoku.Properties.Settings>
            <setting name="DisplayLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="BookletSizeNew" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="PrintSolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxSolutions" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MinValues" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="AutoSaveBooklet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProblemDirectory" serializeAs="String">
                <value>c:\temp\SudokuProblems</value>
            </setting>
            <setting name="Constrast" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrintHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HorizontalProblems" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HorizontalSolutions" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindAllSolutions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookletSizeExisting" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="BookletSizeUnlimited" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeverityLevel" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HideWhenMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraceFrequence" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UseWatchHandHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateXSudoku" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateNormalSudoku" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectSeverity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XSudokuConstrast" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSaveState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateMinimalProblems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkNeighbors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePrecalculatedProblems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="SudokuOfTheDay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintInternalSeverity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPauseLag" serializeAs="String">
                <value>5</value>
            </setting>
        </Sudoku.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Sudoku.Properties.Settings>
            <setting name="CellWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SmallCellWidth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Intermediate" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="DefaultFileExtension" serializeAs="String">
                <value>.sudoku</value>
            </setting>
            <setting name="SupportedCultures" serializeAs="String">
                <value>en-US|de-DE</value>
            </setting>
            <setting name="Trivial" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MagnificationFactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="FontSizes" serializeAs="String">
                <value>10|16|24</value>
            </setting>
            <setting name="TableFont" serializeAs="String">
                <value>Comic Sans MS</value>
            </setting>
            <setting name="PrintFont" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="FixedFont" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="HorizontalProblemsAlternatives" serializeAs="String">
                <value>1|2|3|4</value>
            </setting>
            <setting name="HorizontalSolutionsAlternatives" serializeAs="String">
                <value>4|5</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value>kontakt@pi-c-it.de</value>
            </setting>
            <setting name="HTMLFileExtension" serializeAs="String">
                <value>.html</value>
            </setting>
            <setting name="NormalSudokuPublicationLimit" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="XSudokuPublicationLimit" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="Hard" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UploadLevelNormalSudoku" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="UploadLevelXSudoku" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="MaxValues" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="MaxHints" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxProblems" serializeAs="String">
                <value>16</value>
            </setting>
        </Sudoku.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
