body{margin-top:20px; margin-left:20px; margin-right:20px; color:#000000; font-family:'Comic Sans MS', Verdana, 'Trebuchet MS', Arial; background-color:white}
a:link {font-weight:normal; color:#0F75AC; text-decoration:none}
a:visited {font-weight:normal; color:#0F75AC; text-decoration:none}
a:active {font-weight:normal; text-decoration:none}
a:hover {font-weight:normal; color:#FF6600; text-decoration:none}
p {margin-top:0px; margin-bottom:12px; color:#000000; font-family:'Comic Sans MS', Verdana, 'Trebuchet MS', Arial}
pre {border-right:#f0f0e0 1px solid; padding-right:5px; border-top:#f0f0e0 1px solid; margin-top:-5px; padding-left:5px; font-size:x-small; padding-bottom:5px; border-left:#f0f0e0 1px solid; padding-top:5px; border-bottom:#f0f0e0 1px solid; font-family:Courier New; background-color:#e5e5cc}
td {font-size:small; color:#000000; font-family:'Comic Sans MS', Verdana, 'Trebuchet MS', Arial}
td.spacer {margin:10px; width:5px}
h2 {border-top: #003366 1px solid; margin-top:25px; font-weight:bold; font-size:1.5em; margin-bottom:10px; margin-left:-15px; color:#003366}
h3 {margin-top:10px; font-size: 1.1em; margin-bottom: 10px; margin-left: -15px; color: #000000}
ul {margin-top:10px; margin-left:20px}
ol {margin-top:10px; margin-left:20px}
li {margin-top:10px; color: #000000}
.divTag {border:1px; border-style:solid; background-color:#FFFFFF; text-decoration:none; height:auto; width:auto; background-color:#cecece}
.BannerColumn {background-color:#000000;}
.Banner {border:0; padding:0; height:8px; margin-top:0px; color:#ffffff; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#1c5280',EndColorStr='#FFFFFF');}
.BannerTextCompany {font:bold; font-size:18pt; color:#cecece; font-family:Tahoma; height:0px; margin-top:0; margin-left:8px; margin-bottom:0; padding:0px; white-space:nowrap; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='black',Positive='true');}
.BannerTextApplication {font:bold; font-size:18pt; font-family:Tahoma; height:0px; margin-top:0; margin-left:8px; margin-bottom:0; padding:0px; white-space:nowrap; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='black',Positive='true');}
.BannerText {font:bold; font-size:18pt; font-family:Tahoma; height:0px; margin-top:0; margin-left:8px; margin-bottom:0; padding:0px; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='black',Positive='true');}
.BannerSubHead {font:bold; font-size:14pt; font-family:Tahoma; height:0px; margin-top:0; margin-left:8px; margin-bottom:0; padding:0px; white-space:nowrap; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='black',Positive='true');}
.BannerSubheadText {font:bold; height:11px; font-size:11px; font-family:Tahoma; margin-top:1; margin-left:10; filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color='black',Positive='true');}
Table.SubBanner {background-color:#cecece; border:0; padding:2; border-spacing:0; border-collapse:collapse;}
Table.InnerTable {background-color:#1c5280; border:0; padding:0; border-spacing:0; border-collapse:collapse;}
Table.FooterTable {background-color:#ffffff ; border:0; padding:0; border-spacing:0; border-collapse:collapse;}
.ItemText {font-weight:bold}
.FooterRule {border:0; padding:0; height:1px; margin:0px; color:#ffffff; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#4B3E1A',EndColorStr='#FFFFFF');}
.FooterText a:link {font-weight:normal; color:#999999; text-decoration:underline}
.FooterText a:visited {font-weight:normal; color:#999999; text-decoration:underline}
.FooterText a:active {font-weight:normal; color:#999999; text-decoration:underline}
.FooterText a:hover {font-weight:normal; color:#FF6600; text-decoration:underline}
.ClickOnceInfoText {font-size:11px; font-weight:normal; text-decoration:none; font-family:Tahoma; margin-top:0; margin-right:2px; margin-bottom:0; padding:0px; color:#000000}
.InstallTextStyle {font:bold; font-size:14pt; font-family:Tahoma; a:#FF0000; text-decoration:None}
.DetailsStyle {margin-left:30px}
.ItemStyle {margin-left:-15px; font-weight:bold}
.StartColorStr {background-color:#4B3E1A}
.JustThisApp a:link {font-weight:normal; color:#0F75AC; text-decoration:none}
.JustThisApp a:visited {font-weight:normal; color:#0F75AC; text-decoration:none}
.JustThisApp a:active {font-weight:normal; text-decoration:underline}
.JustThisApp a:hover {font-weight:normal; color:#FF6600; text-decoration:none}
.ItemColumn {font-weight:bold; padding-left:25px}
.TextColumn {padding-left:25px; padding-top:10px; padding-bottom:10px; vertical-align:top}